<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="alarmConfiguration"
					   type="CooperAtkins.Interface.Alarm.AlarmModuleConfigurationSection, CooperAtkins.Interface.Alarm"
					   requirePermission="false"
            />
    <!-- Uncomment below section, if notification engine embed with the client service. -->

    <section name="notificationConfiguration"
					  type="CooperAtkins.Interface.NotifyCom.NotifyConfigurationSection, CooperAtkins.Interface.NotifyCom"
					   requirePermission="false"
            />

  </configSections>

  <appSettings>
    <add key="StoreID" value ="1"/>
    <add key="ScriptPath" value ="D:\Projects\Cooper Atkins\TempTrakPCC_Code\TempTrakPCC\Products\Temp Trak\Scripts\UE_Alert.vbs" />
    <add key="NetSendTo" value ="127.0.0.1"/>
    <add key="NetSendFromName" value ="TempTrak"/>
    <add key="PortNumber" value ="1000"/>
    <add key="Debug" value ="T"/>

    <add key="SMTPServer" value=""/>
    <add key="SMTPPort" value=""/>
    <add key="FromEmailAddress" value=""/>
    <add key="ToEmailAddress" value="pillibilli@jnettechnologies.com"/>
    <add key="LogPath" value="c:\Log.txt"/>
    <add key="IsDebug" value="true"/>
  </appSettings>

  <connectionStrings>
    <add name="SqlConnectionString" connectionString="data source=DESKTOP-Q7FT4GU\SQL_SERVER_2017;Initial Catalog=intelliware_sampleton;user id=sa;password=28041989jkm;" />
  </connectionStrings>

  <alarmConfiguration>
    <modules>
      <!-- Delay module is designed as part of Escalation module-->
      <add name="EscalationAndDelayModule" type="CooperAtkins.NotificationClient.EscalationModule.EscalationFrontController"   />
      <!--<add name="DelayModule" type="CooperAtkins.NotificationClient.DelayModule.DelayFrontController"   />-->
    </modules>
    <composers>
      <add name="Email" type="CooperAtkins.NotificationClient.NotificationComposer.EmailNotificationComposer" invokeAlways="false" >
        <!--<notificationEndpoint type="CooperAtkins.Interface.NotifyCom.Defaults.NotifyTcpClient" remoteEndpoint="192.168.1.58:6666" />-->
      </add>
      <add name="Pager" type="CooperAtkins.NotificationClient.NotificationComposer.PagerNotificationComposer" invokeAlways="false" />
      <add name="RemotePopup" type="CooperAtkins.NotificationClient.NotificationComposer.PopupNotificationComposer" invokeAlways="false" />
      <add name="ServerPopup" type="CooperAtkins.NotificationClient.NotificationComposer.PopupNotificationComposer" invokeAlways="false" />
      <add name="Script" type="CooperAtkins.NotificationClient.NotificationComposer.ScriptNotificationComposer" invokeAlways="false" />
      <add name="Switch" type="CooperAtkins.NotificationClient.NotificationComposer.SwitchNotificationComposer" invokeAlways="false" />
      <add name="MessageBoard" type="CooperAtkins.NotificationClient.NotificationComposer.MsgBrdNotificationComposer" invokeAlways="false" />
      <add name="Sms" type="CooperAtkins.NotificationClient.NotificationComposer.SmsNotificationComposer" invokeAlways="false" >
        <notificationEndpoint type="CooperAtkins.SocketManager.NotifyTcpClient" remoteEndpoint="192.168.1.38:6666"  />
      </add>
      <add name="Voice" type="CooperAtkins.NotificationClient.NotificationComposer.IvrNotificationComposer" invokeAlways="false" />

    </composers>
    <!-- configure default notification end point -->
    <notificationEndpoint type="{embed}" />

    <!--<notificationEndpoint type="CooperAtkins.SocketManager.NotifyTcpClient" remoteEndpoint="192.168.1.58:6666"  />-->
    <!--timeout=""-->

    <notificationTypes>
      <add name="NONE" value="0" isDynamicType="false" />
      <add name="ServerPopup" value="1"  isDynamicType="false"  />
      <add name="Pager" value="2"  isDynamicType="false" />
      <add name="Email" value="4"  isDynamicType="false" />
      <add name="Sound" value="8"  isDynamicType="false" />
      <add name="Switch" value="16"  isDynamicType="true" />
      <add name="RemotePopup" value="32"  isDynamicType="false" />
      <add name="MessageBoard" value="64"  isDynamicType="true" />
      <add name="Script" value="128"  isDynamicType="false" />
      <add name="Voice" value="256"  isDynamicType="false" />
      <add name="SMS" value="512"  isDynamicType="false" />

    </notificationTypes>
  </alarmConfiguration>


  <notificationConfiguration >
    <components>
      <add name="ServerPopup" type="CooperAtkins.NotificationServer.NotifyEngine.PopupNotifyCom"  />
      <add name="Pager" type="CooperAtkins.NotificationServer.NotifyEngine.PagerNotifyCom"  />
      <add name="Email" type="CooperAtkins.NotificationServer.NotifyEngine.EmailNotifyCom"  />
      <add name="Sms" type="CooperAtkins.NotificationServer.NotifyEngine.SmsNotifyCom"  />
      <add name="Sound" type=""  />
      <add name="Switch" type="CooperAtkins.NotificationServer.NotifyEngine.SwitchNotifyCom"  />
      <add name="RemotePopup" type="CooperAtkins.NotificationServer.NotifyEngine.PopupNotifyCom"  />
      <add name="MessageBoard" type="CooperAtkins.NotificationServer.NotifyEngine.MessageBoardNotifyCom"/>
      <add name="Script" type="CooperAtkins.NotificationServer.NotifyEngine.ScriptNotifyCom"  />
      <add name="Voice" type=" CooperAtkins.NotificationServer.NotifyEngine.IvrNotificationCom"  />
    </components>
  </notificationConfiguration>

  <system.net>
    <mailSettings>
      <smtp from="Vasu &lt;bnagalla@jnettechnologies.com&gt;"  deliveryMethod="Network">
        <network host="mail.jnettechnologies.com" userName="pillibilli@jnettechnologies.com" password="" port="25" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
