<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="notificationConfiguration"
          type="CooperAtkins.Interface.NotifyCom.NotifyConfigurationSection, CooperAtkins.Interface.NotifyCom"
           requirePermission="false"
            />
  </configSections>
  
  <appSettings>
    <add key="LogPath" value="c:\log.txt"/>
    <add key="IsDebug" value="true"/>
  </appSettings>
  
  <notificationConfiguration type="CooperAtkins.SocketManager.NotifyTcpServer,CooperAtkins.SocketManager" endpointAddress="192.168.1.58:6666">
    <components>
      <add name="ServerPopup" type="CooperAtkins.NotificationServer.NotifyEngine.PopupNotifyCom"  />
      <add name="Pager" type=""  />
      <add name="Email" type="CooperAtkins.NotificationServer.NotifyEngine.EmailNotifyCom"  />
      <add name="Sound" type=""  />
      <add name="Switch" type="CooperAtkins.NotificationServer.NotifyEngine.SwitchNotifyCom"  />
      <add name="RemotePopup" type="CooperAtkins.NotificationServer.NotifyEngine.PopupNotifyCom"  />
      <add name="MessageBoard" type="CooperAtkins.NotificationServer.NotifyEngine.MessageBoardNotifyCom"/>
      <add name="Script" type="CooperAtkins.NotificationServer.NotifyEngine.ScriptNotifyCom"  />
      <add name="Sms" type="CooperAtkins.NotificationServer.NotifyEngine.SmsNotifyCom"  />
      <add name="Voice" type=" CooperAtkins.NotificationServer.NotifyEngine.IvrNotificationCom"  />
    </components>
  </notificationConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
