<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="notificationConfiguration"
     type="CooperAtkins.Interface.NotifyCom.NotifyConfigurationSection, CooperAtkins.Interface.NotifyCom"
      requirePermission="false"
            />
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="CooperAtkins.NotificationEngine.Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<appSettings>
		<add key="IsDebug" value="true"/>
		<add key="LogPath" value="c:\log.txt" />
	</appSettings>
	<notificationConfiguration type="CooperAtkins.Interface.NotifyCom.Defaults.NotifyTcpServer,CooperAtkins.Interface.NotifyCom" endpointAddress="192.168.1.58:6666">
		<components>
			<add name="ServerPopup" type="CooperAtkins.NotificationServer.NotifyEngine.PopupNotifyCom"  />
			<add name="Pager" type="CooperAtkins.NotificationServer.NotifyEngine.PagerNotifyCom"  />
			<add name="Email" type="CooperAtkins.NotificationServer.NotifyEngine.EmailNotifyCom"  />
			<add name="Sound" type=""  />
			<add name="Sms" type="CooperAtkins.NotificationServer.NotifyEngine.SmsNotifyCom"  />
			<add name="Switch" type="CooperAtkins.NotificationServer.NotifyEngine.SwitchNotifyCom"  />
			<add name="RemotePopup" type="CooperAtkins.NotificationServer.NotifyEngine.PopupNotifyCom"  />
			<add name="MessageBoard" type="CooperAtkins.NotificationServer.NotifyEngine.MessageBoardNotifyCom"/>
			<add name="Script" type="CooperAtkins.NotificationServer.NotifyEngine.ScriptNotifyCom"  />
			<add name="Voice" type=" CooperAtkins.NotificationServer.NotifyEngine.CDyneIvrNotificationCom"  />      

		</components>
	</notificationConfiguration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
 <applicationSettings>
  <CooperAtkins.NotificationEngine.Utility.Properties.Settings>
   <setting name="Utility_Notify_PhoneNotify" serializeAs="String">
    <value>http://ws.cdyne.com/notifyws/phonenotify.asmx</value>
   </setting>
  </CooperAtkins.NotificationEngine.Utility.Properties.Settings>
 </applicationSettings>
</configuration>
