<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="alarmConfiguration" type="CooperAtkins.Interface.Alarm.AlarmModuleConfigurationSection, CooperAtkins.Interface.Alarm" requirePermission="false" />
    <!-- Uncomment below section, if notification engine embed with the client service. -->
    <section name="notificationConfiguration" type="CooperAtkins.Interface.NotifyCom.NotifyConfigurationSection, CooperAtkins.Interface.NotifyCom" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="StoreID" value="1" />
    <add key="ScriptPath" value="" />
    <add key="NetSendTo" value="127.0.0.1" />
    <add key="NetSendFromName" value="TempTrak" />
    <add key="PortNumber" value="1000" />
    <add key="ToEmailAddress" value="" />
    <add key="LogPath" value="c:\log.txt" />
    <add key="UDPListenerPort" value="11353" />
    <add key="IsDebug" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="data source=DESKTOP-Q7FT4GU\SQL_SERVER_2017;Initial Catalog=intelliware_sampleton;user id=sa;password=28041989jkm" />
  </connectionStrings>
  <alarmConfiguration>
    <modules>
      <!-- Delay module is designed as part of Escalation module-->
      <add name="EscalationAndDelayModule" type="CooperAtkins.NotificationClient.EscalationModule.EscalationFrontController" />
      <!--<add name="DelayModule" type="CooperAtkins.NotificationClient.DelayModule.DelayFrontController"   />-->
    </modules>
    <composers>
      <add name="Email" type="CooperAtkins.NotificationClient.NotificationComposer.EmailNotificationComposer" invokeAlways="false" />
      <add name="Pager" type="CooperAtkins.NotificationClient.NotificationComposer.PagerNotificationComposer" invokeAlways="false" />
      <add name="RemotePopup" type="CooperAtkins.NotificationClient.NotificationComposer.PopupNotificationComposer" invokeAlways="false" />
      <add name="ServerPopup" type="CooperAtkins.NotificationClient.NotificationComposer.PopupNotificationComposer" invokeAlways="false" />
      <add name="Script" type="CooperAtkins.NotificationClient.NotificationComposer.ScriptNotificationComposer" invokeAlways="false" />
      <add name="Switch" type="CooperAtkins.NotificationClient.NotificationComposer.SwitchNotificationComposer" invokeAlways="false" />
      <add name="MessageBoard" type="CooperAtkins.NotificationClient.NotificationComposer.MsgBrdNotificationComposer" invokeAlways="false" />
      <add name="Sms" type="CooperAtkins.NotificationClient.NotificationComposer.SmsNotificationComposer" invokeAlways="false" />
      <add name="Voice" type="CooperAtkins.NotificationClient.NotificationComposer.CDyneIvrNotificationComposer" invokeAlways="false" />      
    </composers>
    <!-- configure default notification end point -->
    <notificationEndpoint type="{embed}" />
    <!--<notificationEndpoint type="CooperAtkins.SocketManager.NotifyTcpClient" remoteEndpoint="192.168.1.58:6666"  />-->
    <!--timeout=""-->
    <notificationTypes>
      <add name="NONE" value="0" isDynamicType="false" />
      <add name="ServerPopup" value="1" isDynamicType="false" />
      <add name="Pager" value="2" isDynamicType="false" />
      <add name="Email" value="4" isDynamicType="false" />
      <add name="Sound" value="8" isDynamicType="false" />
      <add name="Switch" value="16" isDynamicType="true" />
      <add name="RemotePopup" value="32" isDynamicType="false" />
      <add name="MessageBoard" value="64" isDynamicType="true" />
      <add name="Script" value="128" isDynamicType="false" />
      <add name="Voice" value="256" isDynamicType="false" />
      <add name="SMS" value="512" isDynamicType="false" />
    </notificationTypes>
    <voiceCustomIzations>     
        <add name="CDyneRetries" value="2" />
        <add name="CDyneVoiceID" value="1" />
        <add name="CDyneVolume" value="100" />
    </voiceCustomIzations>
  </alarmConfiguration>
 
  <notificationConfiguration>
    <components>
      <add name="ServerPopup" type="CooperAtkins.NotificationServer.NotifyEngine.PopupNotifyCom" />
      <add name="Pager" type="CooperAtkins.NotificationServer.NotifyEngine.PagerNotifyCom" />
      <add name="Email" type="CooperAtkins.NotificationServer.NotifyEngine.EmailNotifyCom" />
      <add name="Sms" type="CooperAtkins.NotificationServer.NotifyEngine.SmsNotifyCom" />
      <add name="Sound" type="" />
      <add name="Switch" type="CooperAtkins.NotificationServer.NotifyEngine.SwitchNotifyCom" />
      <add name="RemotePopup" type="CooperAtkins.NotificationServer.NotifyEngine.PopupNotifyCom" />
      <add name="MessageBoard" type="CooperAtkins.NotificationServer.NotifyEngine.MessageBoardNotifyCom" />
      <add name="Script" type="CooperAtkins.NotificationServer.NotifyEngine.ScriptNotifyCom" />
      <add name="Voice" type=" CooperAtkins.NotificationServer.NotifyEngine.CDyneIvrNotificationCom" />      
    </components>
  </notificationConfiguration>
  <!--<system.net>
     <mailSettings>
      <smtp from="" deliveryMethod="Network">
        <network host="" userName="" password="" port="25" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PhoneNotifySoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="PhoneNotifySoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.cdyne.com/notifyws/phonenotify.asmx"
        binding="basicHttpBinding" bindingConfiguration="PhoneNotifySoap"
        contract="CdyneNotify.PhoneNotifySoap" name="PhoneNotifySoap" />
      <endpoint address="http://ws.cdyne.com/notifyws/phonenotify.asmx"
        binding="customBinding" bindingConfiguration="PhoneNotifySoap12"
        contract="CdyneNotify.PhoneNotifySoap" name="PhoneNotifySoap12" />
    </client>
  </system.serviceModel>
</configuration>